<html>
<body> 
<div class="mainpic"></div>
<div class="containpic"> </div>
<span class="platepic" > <img width="446px" height="500px" src='/assets/images/dust.jpg'>
</span> 
<span class="platetext">Local Fresh cuisine<br> for everyone</span>
<div class="planetext2">Eat2Beat is not a diet, it is a lifestyle change!
    
    A healthy body starts inside out,<br> no matter how many times you hit the gym if you don’t eat right you won’t look<br> right.
    At Eat2Beat we design , create and deliver well balanced meals to your <br> doorstep you can cherish all day everyday
    so all you have to do is sit back and<br> “nom-nom” your way through.<br>
   Whether you are sweating it out in the gym but not happy with the results or <br>want to eat healthy but don’t have the time to cook we are here to make your life easier.
   <br>
   </div>
<div class="spoonpic"><img    width="448px"
height="310px" src='/assets/images/extraimage.jpg'></div>


<div class="lefttext">EAT2BEAT NEWS  </div>
 <h4 class="colortext">Spinach month <br>is finally here</h4>
<div class="lefttext1"> Our team create a customized nutritional plan for our users<br> based on their wish to either 
    shed those extra pounds or to simply<br> stay in shape.<br>
    
    It’s not frozen food<br>
    It’s not a supplement<br>
    It’s not protein bars<br>
    And most importantly, it is not just a plan!</div>

<div class="lastpic"></div>
</body> 
</html>