<html>
  <body>
    <div class="lastpic"></div>
    <div class="ourvisionpage">
    <div class="maintext">About Eat2beat</div>
    <div class="smalltext"><p>Welcome, at Eat2Beat we design a nutrition plan to suit your needs and deliver freshly 
      cooked well balanced meals to your doorstep to help you live healthy happy and hassel free lives! 
    Our life's pace has resulted in us becoming less mindful about oneself. To cope with challenges we face everyday 
    a healthy body and mind is the only tool we need, so let us be a part of your journey. <br></p>
      <p><br>
        <br>
      >You set your goal <br>
       <br>
      >We create a customized meal plan for you <br>
      <br>
      >We deliver freshly cooked meals at your doorstep <br>
      <br>
      > You eat to beat the weight  <br>
      <br></p></div>
       

  <div class="icon1">
 <div class="icontext"> <p>Sign Up </p></div>
    <img src="/assets/images/SignUpIcon.png" width="100px" height="120px">
 </div>

  <div class="icon2">
   <div class="icontext" ><p> Subscription Plan </p></div>
    <img src="/assets/images/subscribe.jpg" width="100px" height="120px">
    </div>
             
    <div class="icon3">
    <div class="icontext" > <p>Prepare Food </p></div>
     <img src="/assets/images/cook.jpg" width="100px" height="120px">
    </div>

  <div class="icon4">
   <div class="icontext"> <p>Delivery</p></div> 
  <img src="/assets/images/FoodDelivery.jpg" width="100px" height="120px">
  </div>
</div>
<div class="ourvisionpage">
<div class="smalltext">
  <br>
    <p>Why us? <br>
        
        There are many websites which share meal plans, grocery lists, diets etc but just like watching fitness videos does not make you any fitter, reading meal plans wouldn't make you healthier. 
        Surveys suggest most people eat out because they lack the time and effort to cook themselves a well balanced meal.<br>
        Our recipes avoid junk, and focus on creating meals with foods that are delicious and
        wholesome at the same time.<br>
        You will fall in love with our recipes that help you stay lean, fit, and healthy.<br>
        Live healthy. Be natural. Eat delicious.<br>
        With Eat2Beat, you get easy access to simple, healthy and delicious food that is cooked with
        great care and delivered to your doorsteps!<br>
        There&#39;s no right way or wrong way of eating healthy... Each of us is different, having different
        food preferences and nutritional requirements. However, everyone needs to eat whole,
        nutritious and natural foods while avoiding artificial foods as much as possible. Start today right
        here at Eat2Beat!<br>
       </p>

     </div>
         </div>
        
  <div class="lastpic1"></div>
  </body>
</html>
