<html>
  <body>
    <div class="lastpic"></div>
    <div class="loginpage">
      <div class="logintext">Log into your account</div>
      <div class="input">
        <div><input  class="inputtext" type="text" placeholder="username" [(ngModel)]="userName"></div>
        <div><input  class="inputtext" type="password" placeholder="password" [(ngModel)]="Password"></div>
      <div> <button class="loginbutton" (click)="onclickmainpage()">Login</button></div> 
        <div class="logintext">Not a member yet?</div>
        <div><button class="signupbutton" (click)="onclicksignup()">Signup</button></div>
      </div>
    </div>
  </body>
</html>
