<html>
  <body>
    
    <div class="lastpic"></div>
    <div class="menupage">
      <div class="starters">BREAKFAST </div>
         <div > <hr class="horline" > </div>
      <div class="text">Some breakfast dishes provided in the week</div>
      <div class="starterinline">
      <div class="eachstarter">
        <div class="firststarter"><u>Scrambled Egg Burritos</u></div>
        <div class="firststarter">This Southwestern treat contains <br>  15 grams of filling protein and a kick</div>
        <div class="firststarter">Calories:259</div>
        <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
      </div>
      <div class="eachstarter">
          <div class="firststarter"><u>Cornflake Crunch French Toast</u></div>
          <div class="firststarter">The cornflakes add a nice  <br> crunch to traditional French toast to make it light.</div>
          <div class="firststarter">Calories:149</div>
          <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
        </div>
        <div class="eachstarter">
            <div class="firststarter"><u>Banana Corn Muffins</u></div>
            <div class="firststarter">These moist, sweet muffins go<br>with almost anything </div>
            <div class="firststarter">Calories:199</div>
            <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
          </div>
          <div class="eachstarter">
              <div class="firststarter"><u>Ham and Cheese Scones</u></div>
              <div class="firststarter">Get the flavors of your favorite <br>drive-thru breakfast with this light.</div>
              <div class="firststarter">Calories:217</div>
              <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
            </div>
            <div class="eachstarter">
                <div class="firststarter"><u>Scrambled Eggs With Smoked Salmon, Spinach</u></div>
                <div class="firststarter">This protein-packed wake-up  <br>call is full of heart-healthy good fats. </div>
                <div class="firststarter">Calories:210</div>
                <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
              </div>
            
      </div>
    </div>
    
    <div class="menupage">
      <div class="starters">LUNCH </div>
         <div > <hr class="horline" > </div>
      <div class="text">Some Lunch dishes provided in the week</div>
      <div class="starterinline">
      <div class="eachstarter">
        <div class="firststarter"><u>Herbed Cheese and Tomato Sandwich</u></div>
        <div class="firststarter">Cottage cheese is an awesome low-fat source <br> of protein!</div>
        <div class="firststarter">Calories:298</div>
        <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
      </div>
      <div class="eachstarter">
          <div class="firststarter"><u> Hawaiian Veggie burger</u></div>
          <div class="firststarter">Avocado is a great swap for mayonnaise because <br> it’s full of healthy monosaturated fats.</div>
          <div class="firststarter">Calories:380</div>
          <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
        </div>
        <div class="eachstarter">
            <div class="firststarter"><u> Crunchy Tuna Wrap</u></div>
            <div class="firststarter">Greek yogurt makes this tuna salad just as <br>creamy as the classic mayo would be.</div>
            <div class="firststarter">Calories:382</div>
            <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
          </div>
          <div class="eachstarter">
              <div class="firststarter"> <u>Spicy Black Bean Burritos</u></div>
              <div class="firststarter">Black beans are an awesome source of fiber.<br>It has a spicy kick </div>
              <div class="firststarter">Calories:365</div>
              <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
            </div>
            <div class="eachstarter">
                <div class="firststarter"><u>Grilled Chicken and Cheese Sandwich</u></div>
                <div class="firststarter">Low-fat mayo is a great swap for the full-fat<br>  version!</div>
                <div class="firststarter">Calories:395</div>
                <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
              </div>
              
            
      </div>
    </div>
    <div class="menupage">
        <div class="starters">SNACKS </div>
           <div > <hr class="horline" > </div>
        <div class="text">Some Snacks for this week</div>
        <div class="starterinline">
        <div class="eachstarter">
          <div class="firststarter"><u>Baked Tortilla Chips With Salsa</u></div>
          <div class="firststarter">Choosing baked chips make this healthy snack <br> with a healthy dip</div>
          <div class="firststarter">Calories:120</div>
          <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
        </div>
        <div class="eachstarter">
            <div class="firststarter"><u> Half a Whole-Wheat Pita and  Hummus</u></div>
            <div class="firststarter">Whole grains are a great source of fiber <br>and hummus is high in protein</div>
            <div class="firststarter">Calories:178</div>
            <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
          </div>
          <div class="eachstarter">
              <div class="firststarter"><u>Half-Cup of Frozen Yogurt</u></div>
              <div class="firststarter">Low-fat dairy foods are a great source <br>of protein and calcium</div>
              <div class="firststarter">Calories:150</div>
              <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
            </div>
            <div class="eachstarter">
                <div class="firststarter"><u>Turkey and Cheese Roll-up</u></div>
                <div class="firststarter">Lean meats are sources of protein <br> and cheese adds extra calcium to your diet</div>
                <div class="firststarter">Calories:140</div>
                <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
              </div>
              <div class="eachstarter">
                  <div class="firststarter"><u>Sandwich Thin With Turkey</u></div>
                  <div class="firststarter">It’s like a portion-controlled mini-sandwich <br>with protein and fiber</div>
                  <div class="firststarter">Calories:163</div>
                  <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
                </div>
                
              
        </div>
      </div>
      <div class="menupage">
          <div class="starters">DINNER </div>
             <div > <hr class="horline" > </div>
          <div class="text">Here are some of the meals for Dinner offered bu us.</div>
          <div class="starterinline">
          <div class="eachstarter">
            <div class="firststarter"><u>Grilled Buffalo Chicken Lettuce Wraps</u></div>
            <div class="firststarter"> These healthier low calorie Grilled Buffalo Chicken<br> Lettuce Wraps add  great flavor.</div>
            <div class="firststarter">Calories:53</div>
            <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
          </div>
          <div class="eachstarter">
              <div class="firststarter"><u>Tangy Chicken Salad</u></div>
              <div class="firststarter"> salad loaded with veggies is a  fast and<br> filling meal.This salad is perfect. </div>
              <div class="firststarter">Calories:286</div>
              <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
            </div>
            <div class="eachstarter">
                <div class="firststarter"><u>Mexican Chicken Avocado Salad</u></div>
                <div class="firststarter">This chicken avocado salad has a Mexican <br>twist to it giving a little heat </div>
                <div class="firststarter">Calories:277</div>
                <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
              </div>
              <div class="eachstarter">
                  <div class="firststarter"><u>Veggie Lasagna Stuffed Portobello Mushrooms</u></div>
                  <div class="firststarter">Portobello mushrooms stuffed with spinach, bell peppers,<br> cheese and marinara sauce</div>
                  <div class="firststarter">Calories:236</div>
                  <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
                </div>
                <div class="eachstarter">
                    <div class="firststarter"><u>Swedish Meatballs</u></div>
                    <div class="firststarter">Lean meatballs seasoned with a hint of <br>allspice and served in a creamy beef gravy</div>
                    <div class="firststarter">Calories:</div>
                    <div class="dots">. . . . . . . . . . . .  . . . . . . . . </div>
                  </div>
                  
                
          </div>
        </div>
        
  </body>
</html>