<html>
  <body>
    <div class="lastpic"></div>
    <div class="alignbox">
    <div class="boxes">
      <div class="boxtext">
        First text <br>
        Amount
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
    <div class="boxes">
      <div class="boxtext">
        First text <br>
        Amount
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
    <div class="boxes">
      <div class="boxtext">
        First text <br>
        Amount
      </div>
      <button class="buybutton">BUY NOW</button>
    </div>
  </div>
  </body>
</html>