<html>
  <body>
    <div class="lastpic"></div>
    
    <div class="profile">
        <div class="profiletype">MY ACCOUNT</div>
      <div class="profiletype">Full Name:&nbsp;&nbsp;{{dataservice.fullname}}  </div>
      <div class="profiletype">User Name:&nbsp;&nbsp; {{dataservice.username}} </div>
      <div class="profiletype">E-Mail:&nbsp;&nbsp; {{dataservice.email}} </div>
      <div class="profiletype">Address:&nbsp;&nbsp;{{dataservice.address}} </div>
      <div class="profiletype">Phone Number:&nbsp;&nbsp;{{dataservice.phonenumber}} </div>
      <div class="profiletype">Target Calories: &nbsp;&nbsp;{{dataservice.targetcalories}} </div>
      <div class="profiletype">Subscription Plan:&nbsp;&nbsp; Monthly </div>
      <div class="profiletype">Days Remaining: &nbsp;&nbsp; 20 days </div>
    </div>
  </body>
</html>